/*LISTA DE TODAS LAS CLASES DEL HTML. ALGUNAS CLASES NO HACE FALTA QUE SE ESTILEN*/
/*LA LISTA ESTA ORGANIZA CON LAS FUENTES PRIMERO, ELEMENTOS DE USO COMUN SEGUNDO
Y ELEMENTOS DEL DOCUMENTO EN ORDEN DESCENDENTE*/

@font-face {
	font-family: SFRegular;
	src: url(/font/SFRegular.otf);
}

@font-face {
	font-family: SFBold;
	src: url(/font/SFBold.otf);
}

@font-face {
	font-family: SFBlack;
	src: url(/font/SFBlack.otf);
}

@font-face {
	font-family: SFItalic;
	src: url(/font/SFItalic.otf);
}

@font-face {
	font-family: SFMovie;
	src: url(/font/SFMovie.otf);
}

a{
	font-family: SFRegular;
}

p{
    font-family: SFRegular;
}

h2{
    font-family: SFBold;
}

.h2_alt{
    font-family: SFBold;
}

h3{
    font-family: SFBold;
}

.h3_alt{
    font-family: SFBold;
}

body{
	width:100%;
	background-color: #f8f8f8;
}

nav{
	width:100%;
	display: block;
	height: 10vh;
}

.menu_y_redes_sociales{
	display: block;
	height: 4vh;
	text-align: right;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 2vh;
	background-color: #ffffff;
}

.menu_y_redes_sociales a{
	style: none;
	color: #000000;
	margin-right: 1vh;
}

.navegacion_y_busqueda{
	height: 8vh;
	display: flex;
	background-color: #24292e;
}

.navegacion_y_busqueda a{
	style: none;
	color: #ffffff;
	font-family: SFMovie;
}

.nav_izquierda{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 2vh;
	margin-right: auto;
}

.nav_derecha{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 2vh;
}

.donativo{
	height: 4vh;
	margin: auto;
	padding: 2vh;
	background-color: #e9730b;
	transition: 0.3s;	
}

.donativo:hover{
	background-color: #63a816;
}

.introduccion{
	width:100%;
}

.imagen_con_cabezera{
	width:100%;
}

.titulo_centrado{
    font-family: SFBlack;
}

.proyectos{
	background-color: #f8f8f8;
}	

.encabezado_alternativo{

}

.carousel{

}

.imagen_titulo_y_texto{

}

.botonera_y_mapa{
	background-color: #ffffff;
}

.botonera_y_mapa h2{

}

.contenedor_botones{

}

.buscador_tiendas{

}

.pestana{

}

.secciones{
	background-color: #f8f8f8;
}

.carousel_no_scrollable{

}

.imagen_titulo_y_texto_alt{

}

.quieres_vender_comercio_justo{

}

.flex_texto_y_imagen{

}

.info_izda{

}

.img_dcha{

}

.aportacion{

}

.pie_de_pagina{

}

.flex_tres_columnas{

}

.flex_uno{

}

.flex_dos{
    
}

.flex_tres{
    
}

.futuro{
    font-family: SFRegular;
}

.pobreza{
    font-family: SFBlack;
}